{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
   
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
   
    <script src="https://kit.fontawesome.com/995a3816ce.js"></script>
</head>
{% include "navbar.html" %}
<body>
    {% block content  %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock %}


    {% block extra_scripts %}
    {% endblock extra_scripts %}
    <script>
            function openSlideMenu(){
                document.getElementById('side-menu').style.width = "100%";
                document.getElementById('content').style.marginTop = "75%";
            }

            function closeSlideMenu(){
                document.getElementById('side-menu').style.width = "0";
                document.getElementById('content').style.marginTop = "0";
            }

            let sliderImages = document.querySelectorAll('.slide'),
                arrowLeft = document.querySelector('#arrow-left'),
                arrowRight = document.querySelector('#arrow-right'),
                current = 0;
            
            //Clear all images
            function reset(){
                for(let i=0;i < sliderImages.length; i++){
                    sliderImages[i].style.display = 'none';
                }
            }
            
            //Init Slider
            function startSlide(){
                reset();
                sliderImages[0].style.display = 'block';
            }

            //Show Prev
            function slideLeft(){
                reset();
                sliderImages[current-1].style.display = "block";
                current--;
            }

            //Show next
            function slideRight(){
                reset();
                sliderImages[current+1].style.display = "block";
                current++;
            }

            //Left Arrow Click
            arrowLeft.addEventListener('click', function(){
                if(current === 0){
                    current = sliderImages.length;
                }
                slideLeft();
            });

            //Right Arrow Click
            arrowRight.addEventListener('click', function(){
                if(current === sliderImages.length - 1){
                    current = -1;
                }
                slideRight();
            });

            startSlide();

            
        </script>

        
</body>
</html>