{% extends "base.html" %}

{% block content %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rogue Nation</title>
        <!-- <link rel="stylesheet" href="styles.css"> -->
       
    </head>
    

   
        <body>
            <div class="container">
                  
                    
    <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div id="content" class="main_content">  
                        <div class="info">
                                <h2>News</h2>

                            <div class="wrap">
                                <div id="arrow-left" class="arrow"></div>
                                {% for new in news %}
                                <div id="slider">
                                    <div class="slide slide1" style="background-image:url('{{new.image.url}}');">
                                        <div class="slide-content">
                                            <span>{{ new.title}}</span> 
                                            <span>posted on {{ new.date}}</span> 
                                        </div>
                                    </div>
                                
                                
                                </div>
                                {% endfor %}
                                
                                <div id="arrow-right" class="arrow"></div>
                            </div>
                                           <!-- <div class="carousel-container">
                                               <div class="carousel-slide">
                                                   <img src="images/vivi-cheruiyot.jpg" id="lastClone" alt="">
                                                   <img src="images/victor-wanyama.jpg" alt="">
                                                   <img src="images/Kipchoge.jpg" alt="">
                                                   <img src="images/Mariga.jpg" alt="">
                                                   <img src="images/simmons.jpg" alt="">
                                                   <img src="images/vivi-cheruiyot.jpg" id="firstClone" alt="">
                                               </div>
    
                                           </div>
                                           <button id="prevBtn">Prev</button>
                                           <button id="nextBtn">Next</button> -->
                                        </div>
                                    </div>
            
                                </div>
                     </div>
                    </div>    
            </div>
            
            
    </body>
    </html>

{% endblock %}