<html>
<head>
    <style>
        
        nav h2{
            color: #fff;
        }

        .burger-menu{
            display: none;
        }
    
        @media screen and (max-width:800px){
            .newsletter{
                display:none;
            }
            .wrapper{
                display: none;
            }
            .burger-menu{
            display: block;
        }
            
            nav h2{
                color: #fff;
                top:0;
                font-size: 30px;
            }
            nav .burger{
                left:0; 
                margin:0;
            }
            #nav-header{
                width:100%;
            }
            nav .search{
                display:none;
            }
            nav .burger{
                top: 0;
            }
        
        }
    </style>
</head>
<body>
<nav class="navbar row">
        <div class="newsletter col-md-3 col-xs-12">
            <a href="/newsletter" style="color:#fff;font-size: 20px;">Signup now<i class="fas fa-envelope"></i></a>
        </div>
        

        <h2 id="nav-header">
            ROGUE NATION
        </h2>

        <span class="burger col-md-3 col-xs-12" >
            <a href="#" onclick="openSlideMenu()">
                <svg width="30" height="30">
                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
                </svg>
            </a>
            
        </span>
        
        <div class="col-md-3 col-xs-12 search">
            <form action="{% url 'core:search' %}" class="search-form">
                <div class="form-group">
                <input type="search" name="q" placeholder="Search Here">
                <button type="submit" class="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>

    </nav>
    
  

    <div class="wrapper">
            <div  class="sidebar">
                
                <ul>
                   
                    <li><a href="/"><i class="fas fa-home"></i>
                        <span>H</span>
                        <span>o</span>
                        <span>m</span>
                        <span>e</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-address-card"></i>
                        <span>A</span>
                        <span>b</span>
                        <span>o</span>
                        <span>u</span>
                        <span>t</span>
                        </a></li>
                    <li><a href="/news"><i class="fas fa-user"></i>
                        <span>N</span>
                        <span>e</span>
                        <span>w</span>
                        <span>s</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-user"></i>
                        <span>M</span>
                        <span>u</span>
                        <span>s</span>
                        <span>i</span>
                        <span>c</span>
                    </a></li>
                    <li><a href="/artists"><i class="fas fa-user"></i>
                        <span>A</span>
                        <span>r</span>
                        <span>t</span>
                        <span>i</span>
                        <span>s</span>
                        <span>t</span>
                        <span>s</span>
                    </a></li>
                    <li><a href="/athletes"><i class="fas fa-user"></i>
                        <span>S</span>
                        <span>p</span>
                        <span>o</span>
                        <span>r</span>
                        <span>t</span>
                        <span>s</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-address-book"></i>
                        <span>P</span>
                        <span>a</span>
                        <span>r</span>
                        <span>t</span>
                        <span>n</span>
                        <span>e</span>
                        <span>r</span>
                        <span>s</span>
                    </a></li>
                    
                    <li><a href="#"><i class="fas fa-project-diagram"></i>
                        <span>P</span>
                        <span>h</span>
                        <span>i</span>
                        <span>l</span>
                        <span>a</span>
                        <span>n</span>
                        <span>t</span>
                        <span>h</span>
                        <span>r</span>
                        <span>o</span>
                        <span>p</span>
                        <span>y</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-blog"></i>
                        <span>S</span>
                        <span>h</span>
                        <span>o</span>
                        <span>p</span>
                    </a></li>
                   
                </ul>

                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
    </div>

    <div class="burger-menu">
            <div id="side-menu" class="sidebar">
                
                <ul>
                    <li id="closeButton"><a href="#" onclick="closeSlideMenu()">&times;</a></li>
                    <li><a href="/"><i class="fas fa-home"></i>
                        <span>H</span>
                        <span>o</span>
                        <span>m</span>
                        <span>e</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-address-card"></i>
                        <span>A</span>
                        <span>b</span>
                        <span>o</span>
                        <span>u</span>
                        <span>t</span>
                        </a></li>
                    <li><a href="/news"><i class="fas fa-user"></i>
                        <span>N</span>
                        <span>e</span>
                        <span>w</span>
                        <span>s</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-user"></i>
                        <span>M</span>
                        <span>u</span>
                        <span>s</span>
                        <span>i</span>
                        <span>c</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-user"></i>
                        <span>A</span>
                        <span>r</span>
                        <span>t</span>
                        <span>i</span>
                        <span>s</span>
                        <span>t</span>
                        <span>s</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-user"></i>
                        <span>S</span>
                        <span>p</span>
                        <span>o</span>
                        <span>r</span>
                        <span>t</span>
                        <span>s</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-address-book"></i>
                        <span>P</span>
                        <span>a</span>
                        <span>r</span>
                        <span>t</span>
                        <span>n</span>
                        <span>e</span>
                        <span>r</span>
                        <span>s</span>
                    </a></li>
                    
                    <li><a href="#"><i class="fas fa-project-diagram"></i>
                        <span>P</span>
                        <span>h</span>
                        <span>i</span>
                        <span>l</span>
                        <span>a</span>
                        <span>n</span>
                        <span>t</span>
                        <span>h</span>
                        <span>r</span>
                        <span>o</span>
                        <span>p</span>
                        <span>y</span>
                    </a></li>
                    <li><a href="#"><i class="fas fa-blog"></i>
                        <span>S</span>
                        <span>h</span>
                        <span>o</span>
                        <span>p</span>
                    </a></li>
                   
                </ul>

                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
    </div>
</body>
</html>