{% extends "base.html" %}

{% block content %}

<div class="container">
                  
                    
        <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="main_content">  
                            <div class="info">
                                    <h1>News</h1>
                                    {% for new in news %}
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <p>Posted on {{ new.date }}</p>
                                            <h2>{{ new.title }}</h2>
                                            <img src="{{ new.image }}" alt="" class="card-img">
                                            <p>{{ new.news_story }}</p>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                               
                            </div>
                        </div>

                    </div>
         </div>
        </div>    
</div>
{% endblock %}