{% extends "base.html" %}

{% block content %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rogue Nation</title>
        <!-- <link rel="stylesheet" href="styles.css"> -->
       
    </head>
    

   
        <body>
            <div class="container">
                    <nav class="navbar">
                        <span class="burger">
                            <a href="#" onclick="openSlideMenu()">
                                <svg width="30" height="30">
                                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
                                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
                                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
                                </svg>
                            </a>
                        </span>
                        
                        <h1>
                            ROGUE NATION
                        </h1>
            
                    </nav>
                    
                  
    
                    <div class="wrapper">
                            <div id="side-menu" class="sidebar">
                                
                                <ul>
                                    <li id="closeButton"><a href="#" onclick="closeSlideMenu()">&times;</a></li>
                                    <li><a href="#"><i class="fas fa-home"></i>
                                        <span>H</span>
                                        <span>o</span>
                                        <span>m</span>
                                        <span>e</span>
                                    </a></li>
                                    <li><a href="#"><i class="fas fa-address-card"></i>
                                        <span>A</span>
                                        <span>b</span>
                                        <span>o</span>
                                        <span>u</span>
                                        <span>t</span>
                                        </a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>
                                        <span>N</span>
                                        <span>e</span>
                                        <span>w</span>
                                        <span>s</span>
                                    </a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>
                                        <span>M</span>
                                        <span>u</span>
                                        <span>s</span>
                                        <span>i</span>
                                        <span>c</span>
                                    </a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>
                                        <span>A</span>
                                        <span>r</span>
                                        <span>t</span>
                                        <span>i</span>
                                        <span>s</span>
                                        <span>t</span>
                                        <span>s</span>
                                    </a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>
                                        <span>S</span>
                                        <span>p</span>
                                        <span>o</span>
                                        <span>r</span>
                                        <span>t</span>
                                        <span>s</span>
                                    </a></li>
                                    <li><a href="#"><i class="fas fa-address-book"></i>
                                        <span>P</span>
                                        <span>a</span>
                                        <span>r</span>
                                        <span>t</span>
                                        <span>n</span>
                                        <span>e</span>
                                        <span>r</span>
                                        <span>s</span>
                                    </a></li>
                                    
                                    <li><a href="#"><i class="fas fa-project-diagram"></i>
                                        <span>P</span>
                                        <span>h</span>
                                        <span>i</span>
                                        <span>l</span>
                                        <span>a</span>
                                        <span>n</span>
                                        <span>t</span>
                                        <span>h</span>
                                        <span>r</span>
                                        <span>o</span>
                                        <span>p</span>
                                        <span>y</span>
                                    </a></li>
                                    <li><a href="#"><i class="fas fa-blog"></i>
                                        <span>S</span>
                                        <span>h</span>
                                        <span>o</span>
                                        <span>p</span>
                                    </a></li>
                                   
                                </ul>
                
                                <div class="social_media">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                  
                    
                    <div class="jumbotron">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="content" class="main_content">  
                                        <div class="info">
                                                <h2>News</h2>

                                                {% for new in news %}
                                                  {{ new.title }}
                                                
                                                {% endfor%}
                                            <!-- <div class="wrap">
                                                <div id="arrow-left" class="arrow"></div>
                                                <div id="slider">
                                                    <div class="slide slide1" style="background-image:url('static/images/women.jpg');">
                                                        <div class="slide-content">
                                                            <span>Image One</span> 
                                                        </div>
                                                    </div>
                                                    <div class="slide slide2" style="background-image:url('static/images/Kipchoge.jpg');">
                                                        <div class="slide-content">
                                                            <span>Image Two</span> 
                                                        </div>
                                                    </div>
                                                    <div class="slide slide3" style="background-image:url('static/images//vivi-cheruiyot.jpg');">
                                                        <div class="slide-content">
                                                            <span>Image Three</span> 
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div id="arrow-right" class="arrow"></div>
                                            </div> -->
                                           <!-- <div class="carousel-container">
                                               <div class="carousel-slide">
                                                   <img src="images/vivi-cheruiyot.jpg" id="lastClone" alt="">
                                                   <img src="images/victor-wanyama.jpg" alt="">
                                                   <img src="images/Kipchoge.jpg" alt="">
                                                   <img src="images/Mariga.jpg" alt="">
                                                   <img src="images/simmons.jpg" alt="">
                                                   <img src="images/vivi-cheruiyot.jpg" id="firstClone" alt="">
                                               </div>
    
                                           </div>
                                           <button id="prevBtn">Prev</button>
                                           <button id="nextBtn">Next</button> -->
                                        </div>
                                    </div>
            
                                </div>
                     </div>
                    </div>    
            </div>
            
            <script>
                function openSlideMenu(){
                    document.getElementById('side-menu').style.width = "100%";
                    document.getElementById('content').style.marginTop = "75%";
                }
    
                function closeSlideMenu(){
                    document.getElementById('side-menu').style.width = "0";
                    document.getElementById('content').style.marginTop = "0";
                }
    
                let sliderImages = document.querySelectorAll('.slide'),
                    arrowLeft = document.querySelector('#arrow-left'),
                    arrowRight = document.querySelector('#arrow-right'),
                    current = 0;
                
                //Clear all images
                function reset(){
                    for(let i=0;i < sliderImages.length; i++){
                        sliderImages[i].style.display = 'none';
                    }
                }
                
                //Init Slider
                function startSlide(){
                    reset();
                    sliderImages[0].style.display = 'block';
                }
    
                //Show Prev
                function slideLeft(){
                    reset();
                    sliderImages[current-1].style.display = "block";
                    current--;
                }
    
                //Show next
                function slideRight(){
                    reset();
                    sliderImages[current+1].style.display = "block";
                    current++;
                }
    
                //Left Arrow Click
                arrowLeft.addEventListener('click', function(){
                    if(current === 0){
                        current = sliderImages.length;
                    }
                    slideLeft();
                });
    
                //Right Arrow Click
                arrowRight.addEventListener('click', function(){
                    if(current === sliderImages.length - 1){
                        current = -1;
                    }
                    slideRight();
                });
    
                startSlide();
            </script>
    </body>
    </html>

{% endblock %}