{% extends "base.html" %}

{% block content %}

<body style="background-color: #000">


<div class="container">
                  
        <div class="row" id="news_title">
            <div class="col-md-12">
                <h1 >News</h1>
            </div>
        </div>       
        

                        <div id="news_content" class="main_content" style="background-color: #818181">  
                            <div class="info">
                               <div class="row">
                                   
                                   <div class="col-md-11">
                                   
                                    <div class="card-columns">
                                        {% for new in news %}
                                        <div class="card">
                                                <span>Posted on {{ new.date }}</span>
                                                <img src="{{ new.image.url }}" alt="" class="card-img img-fluid">
                                                <h2 class="card-title">{{ new.title }}</h2>
                                                <p>{{ new.news_story }}</p>
                                                <button class="btn btn-danger">Show more</button>
                                            
                                        </div>
                                        {% endfor %}   
                                    </div>
                                    
                                </div>
                                <div class="col-md-1"></div>
                            </div>   
                                      
                            </div>
                        </div>

                  
           
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}