{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <style>
     

      .card img{
        border-radius: 10px;
      }
      
    </style>
  </head>
    
  <body style="background-color: #818181">
   
      <div class="container">
      <div id="content" class="main_content" style="background-color: #818181">  
      <div class="info">
      <div class="row">
        <!-- Latest Posts -->
        <div class="col-md-6">
          <div class="card">

          
            <img src="{{ news.image.url }}" alt="..." class="card-img img-fluid">
          </div>
        </div>
        <div class="col-md-6">
            <div class="card">
             
            <div class="category">
              {% for cat in news.categories.all %}
              <a href="#">{{ cat }}</a>
              {% endfor %}
            </div>

            <h3 class="card-title">{{ news.title }}</h3>
                  
            <div class="card-sub-title"><i class="icon-clock"></i>{{ news.date }}</div>
            <div class="card-body">
            <p class="lead">{{ news.news_story }}</p>
        </div>
      </div> 
    </div>
    </div>
        <div class="col-md-1"></div>
                  
                
                
                      
                    
                </div>      
                  
                </div>
        </div>
        </div>        
                
              
  </body>
</html>

{% endblock %}